*{
    box-sizing: border-box;
    
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 52, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    border-radius: 5px;
    width: 800px;
    max-width: 50%;
    background-color:#fff;
    box-shadow: 0 0 60px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.question-container{
    width: 100%;
}
.question{
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
}
.btn-grid{
    display: grid;
    grid-template-columns:100px 100px ;
    grid-gap:20px;
    align-content: center;
    justify-content: center;
   
}
.controls{
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.hide{
    display: none;
}
.btn{
   
    cursor: pointer;
    font-size: 15px;
    color: white;
    border: 1px solid #25054e;
    background-color: rgb(16, 102, 214);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding:10px ;
    min-width: 100px;
}
.btn:hover{
    border: 2px solid #25054e;
    
    background-color: rgb(14, 60, 121);
}
.start-btn,.next-btn{
    font-size: 20px;
    padding: 30px 50px;
}
.start-btn:hover,
.next-btn:hover{
    background-color: rgb(14, 60, 121);
    border: 1px solid #25054e;
}


body.correct{
    background-color: rgb(16, 104, 28);  
}
body.wrong{
    background-color: rgb(136, 20, 20);
}       
body.neutral{
    background-color: rgb(5, 52, 114);
}
.score-btn {
    color: #000000;
    background-color:#fff;
    border: none;
    font-size: 50px;
    min-width: 200px;
    min-height: 100px;
}
.score-btn:hover{
    border: none;
    background-color: #fff;
}
button.correct{
   
    background-color: rgb(29, 190, 50);  
}
button.wrong{
    background-color: rgb(235, 54, 54);
}       
button.neutral{
    background-color: rgb(16, 102, 214);
}

button.correct:hover{
    border: 2px solid #000000;
    background-color: rgb(29, 190, 50);  
}
button.wrong:hover{
    border: 2px solid #000000;
    background-color: rgb(235, 54, 54);
}